.uploadComponentContainer {
  width: 300px;
  height: 300px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bookSelection {
  display: flex;
  flex-direction: row;
  div {
    margin-left: 5%;
    margin-right: 5%;
  }
}
