.information {
}

.interested {
	padding-top: 20px;
	margin-left:auto;
	margin-right:25%;
	font-size: 15px;
}

.price {
	font-size:15px;
	padding-bottom: 10px;
}

.link {
	color:#3D85C6;
	text-decoration: underline;

}

.segment {
	width:75%;
}