.uploadComponentContainer {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
}

.container {
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.exchange {
  display: flex;
  flex-direction: row;
  .offer {
    h1 {
      text-align: center;
    }
  }
  .tradeFor {
    h1 {
      text-align: center;
    }
  }

  .icon {
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.mainForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  .description {
    width: 100%;
  }
}
