.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container h1 {
  align-self: center;
  margin-left: 3%;
  margin-right: 3%;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
}

.dropdownContainer .dropdown {
  position: absolute;
}

.dropdownContainer h2 {
  text-align: center;
  margin-bottom: 10px;
}

.createBookForm {
  display: flex;
  flex-direction: column;
}

.createBookForm .input {
  position: relative;
}

.createBookForm h2 {
  text-align: center;
}