.carouselImg {
    position: relative;
    float: left;
    width:  240px;
    height: 240px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.carouselzzz {
  .carouselzzzIcon:hover {
    cursor: pointer;
  }
}
